<br>
<div id="content">
    <h2>About the Team</h2>
    <br>
    <div id="info">
        <p>
            GBBAT was created as a collaborative undertaking between the Naval Postgraduate School and California State University Monterey Bay.
            <br>
            <br> 
            The effort is headed by NPS economics professor Elizabeth Gooch, whose research focuses on Chinese economics and politics. The data 
            side of GBBAT is run by Eric Eckstrand, a research associate in NPS’s Data Science and Analytics Group. 
            <br>
            <br>
            The construction of this new version of GBBAT, the shift to a new service for data storage, 
            and data modernization was conducted by a team of CSUMB Computer Science seniors 
            as their Capstone Project: Liam Cunningham, Denize Ignacio, Claudio Vertemara, and William White.
            <br>
            <br>
            This project is a continuous effort built on the work from past Capstone students from CSUMB: James Barquera, Rudy Cruz, 
            Derek Lilienthal, Christopher Mayers, Salihullah Salarzai, Sam Westigard, and Paul Whipp.
        </p>
    </div>
</div>
