<br>
<div id="content">
    <h2>About the Data</h2>
    <br>
    <div id="info">
        <p>
            GBBAT presents event/news article information in an accessible way to average researchers. It focuses specifically
            on media coverage of Chinese activities around the world.
            <br>
            <br>
            This tool receives data provided by the GDELT organization, and takes it's rich (and often overwhelming) information
            and resculpts it to provide a more palatable experience for users.
            <br>
            <br>
            GDELT relies on query-based access using SQL code to query it's millions of events and articles; our goal
            with GBBAT is to make sure no user has to directly utilize this SQL.
            <br>
            <br>
            We hope that our query and visualization interface 
            opens access to GDELT's vast amount of information and makes its an easier experience for researchers.
        </p>
    </div>
</div>