<br>
<div id="content">
    <div id="questions">
        <h2>How do you want to wield GBBAT now?</h2><br>

        <p>
            Are you interested in the geographic bounds of the event location? Reporter? Other actor? &nbsp;
            <a class="buttons" mat-flat-button color="primary" [routerLink]="'/geography'">
                <span class="label">Yes, one of those!</span>
            </a>
        </p>
        <p>
            Or the topical theme of the article? &nbsp;
            <a class="buttons" mat-flat-button color="primary" [routerLink]="'/theme'">
                <span class="label">That's me!</span>
            </a>
        </p>
        <!--Article Tone (Removed, Might be Added Back in Future)-->
        <!--<p>
            The positivity (or negativity) with which the articles were written? &nbsp;
            <a class="buttons" mat-flat-button color="primary" [routerLink]="'/tone'">
                <span class="label">You betcha!</span>
            </a>
        </p>-->
    </div>
</div>