#content{
    width: 100%;
    text-align: center;
    font-size: large;
}
#questions{
    margin: 0 auto;
    text-align: left;
    width: 55%;
    height: auto;
    overflow:auto;
    border-radius: 50px;
    border: 3px solid rgb(41, 41, 41);
    padding: 2%;
}
.buttons{
    border-radius: 50px;
}