<br>
<div id="content">
    <h2 id="title">-Title-</h2>

    <div id="chart-container">
        <canvas id="articleCanvas"></canvas>
        <h3 id="articleCanvasLoading">Number of Articles Chart Loading...</h3>
        <canvas id="cameoCanvas"></canvas>
        <h3 id="cameoCanvasLoading">Top Cameo Codes Chart Loading...</h3>
        <canvas id="actorCanvas"></canvas>
        <h3 id="actorCanvasLoading">Top Actors Chart Loading...</h3>
        <canvas id="toneCanvas"></canvas>
        <h3 id="toneCanvasLoading">Top Change Chart Loading...</h3>
        <canvas id="eventCanvas"></canvas>
        <h3 id="eventCanvasLoading">Top Event Locations Chart Loading...</h3>
    </div>

    <a id="qryBtn" mat-flat-button color="primary" [routerLink]="'/specific-data'">
        <span class="label">Query Further</span>
    </a>
    <br><br>
</div>
